<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$web_name}-平台用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__HOME__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__HOME__/static/layuiadmin/style/admin.css" media="all">
    <style type="text/css">
        .layui-table-cell{
            text-align: center;
            height: auto;
            white-space: normal;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
            </div>

            <table id="LAY-items-manage" lay-filter="LAY-items-manage"></table>
            <script type="text/html" id="table-applet-user">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-edit"></i>删除</a>
            </script>
            <!--这个是选择框tpl-->
            <script type="text/html" id="show_tpl">
                <input type="checkbox"  user_id="{{d.id}}"  lay-skin="switch" lay-text="激活|封禁"  lay-filter="thisStatus" {{d.status==1?'checked':''}} >
            </script>
        </div>
    </div>
</div>

<script src="__HOME__/static/layuiadmin/layui/layui.js"></script>
<script>
    //layer组件
    layui.config({
        base: '__HOME__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: '/lib/index' //主入口模块
    }).use(['form','index', 'useradmin', 'table'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;
        //
        form.on('select(thisSearch)', function(data){
            var val=data.value;
            var inputs  = $("#is_val");
            if(val=='thisNoSettle'){
                $(inputs).hide();
            }else{
                $(inputs).show();
            }
        });
        //Ajax设置
        $.ajaxSetup({
            type: 'POST',
            dataType : "json",
            headers: {'X-Requested-With': 'XMLHttpRequest'},
        });
        //table事件开始
        table.render({
            elem: '#LAY-items-manage',
            url:  '{fun:ctr("userDataList")}',
            cols: [
                [
                    {field: 'id', title: '用户ID',  sort: true},
                    {field: 'username', title: '用户名'},
                    {field: 'email', title: '邮箱' },
                    {field: 'phone', title: '手机号码' },
                    {field: 'login_time',  title: '最近登录时间' },
                    {field: 'create_time',  title: '注册时间'},
                    {field: 'state', title: '状态', sort: true, templet: function(d){
                            if(d.state==1){
                                return  '<a style="color: #00FF00">激活</a>';
                            }else{
                                return  '<a style="color: #ff0000">封禁</a>';
                            }
                        }},
                    {title: '操作', toolbar: '#table-applet-user'}
                ]
            ],
            id:'itemList',
            page: true,
            limit: 30,
            height: 'full-220',
            text: '对不起，加载出现异常！',
            done: function (res) {
                if (res.code == -7) {
                    layer.msg(res.msg, {icon: 2});
                    window.setTimeout(function () {
                        top.location = '{fun:ctr("../Login")}';
                    }, 1000);
                }else if (res.code == -2) {
                    layer.msg(res.msg, {icon: 2});
                }
            }
        });
        //table事件结束
        //事件
        var active = {
            add: function(){
                parent.layer.open({
                    type: 2,
                    title: '添加管理员',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['65%', '75%'],
                    content: '{fun:ctr("../Iframe/addAdminPage")}',
                });
            },end:function(){
                location.reload();
            }
        };
        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //编辑，删除，发布申请
        //监听行工具事件
        table.on('tool(LAY-items-manage)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                parent.layer.open({
                    type: 2,
                    title: '编辑管理员账号: '+ data.username,
                    shadeClose: true,
                    shade: 0.8,
                    area: ['75%', '75%'],
                    content: '{fun:ctr("../Iframe/editAdminPage")}',
                    success:function(layero,index){
                        var id = $("#id", layero.find("iframe")[0].contentWindow.document);
                        var role_id = $("#role_id", layero.find("iframe")[0].contentWindow.document);
                        var username = $("#username", layero.find("iframe")[0].contentWindow.document);
                        var real_name = $("#real_name", layero.find("iframe")[0].contentWindow.document);
                        var user_phone = $("#user_phone", layero.find("iframe")[0].contentWindow.document);
                        var user_email = $("#user_email", layero.find("iframe")[0].contentWindow.document);
                        var role_name = $("#role_name", layero.find("iframe")[0].contentWindow.document);
                        var gender = $("#gender", layero.find("iframe")[0].contentWindow.document);
                        var state = $("#state", layero.find("iframe")[0].contentWindow.document);
                        id.attr("value", data.id );
                        role_id.attr("value", data.role_id );
                        role_name.attr("value", data.role_name );
                        username.attr("value", data.username );
                        real_name.attr("value", data.real_name );
                        user_phone.attr("value", data.user_phone );
                        user_email.attr("value", data.user_email );
                        gender.find("option[value='"+data.gender+"']").attr("selected",true);
                        state.find("option[value='"+data.state+"']").attr("selected",true);
                    },end:function(){
                        location.reload();
                    }
                });
            }else if(obj.event === "del"){
                layer.confirm('确定删除账号: ' +data.username +' ?', function(index){
                    $.ajax({
                        url: '{fun:ctr("delAdminData")}',
                        data:{id:data.id,role_id:data.role_id},
                        success:function(data){
                            if(data.code == 200 ){
                                layer.msg(data.msg, {icon: 1});
                                window.setTimeout(function () {
                                    window.location.reload();
                                }, 500);
                            }else if(data.code == -7){
                                layer.msg(data.msg, {icon: 2});
                                window.setTimeout(function () {
                                    top.location = '{fun:ctr("../Login")}';
                                }, 1000);
                            }else{
                                layer.msg(data.msg, {icon: 2});
                            }
                        },
                        error: function(data){
                            layer.msg('数据异常，操作失败！');
                        },
                    });
                });
            }
        });

    });
</script>
</body>
</html>
