<script src="__HOME__/static/layuiadmin/jquery.min.js"></script>
<script src="__HOME__/static/home/js/popper.min.js"></script>
<script src="__HOME__/static/home/js/bootstrap.min.js"></script>
<script src="__HOME__/static/home/js/jquery.slimscroll.js"></script>
<script src="__HOME__/static/home/js/waves.js"></script>
<script src="__HOME__/static/home/js/sidebarmenu.js"></script>
<script src="__HOME__/static/home/js/sticky-kit.min.js"></script>
<script src="__HOME__/static/home/js/custom.min.js"></script>
<script src="__HOME__/static/home/js/jQuery.style.switcher.js"></script>
<script src="__HOME__/static/home/js/jquery.dataTables.min.js"></script>